<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="css.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
        <title>Autenticação</title>
    </head>
    <body id="indexbody" class="text-center">
 
        <form class="form-sign" action="/autenticar" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Autenticação de acesso</h1>
            <input type="text" id="usuario" name="usuario" class="form-control" placeholder="Usuario" >
            <input type="text" id="senha" name="senha" class="form-control" placeholder="Senha">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Avançar</button>
        </form>

    </body>
</html>