<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="css.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">    
        <title>Painel</title>
    </head>

</body>
</html>